// Global scss variables for Vuetify

// Custom classes
.divider {
  margin: 10px 0;
}

.v-sheet-custom {
  padding: 125px 0;
  margin: 0;
}

.v-container-custom {
  max-width: 1200px;
}

.v-col-table {
  max-width: 600px;
  min-width: 100%;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8FA4B7;
}

::-webkit-scrollbar-thumb {
  background: #5C7387;
}

::-webkit-scrollbar-thumb:hover {
  background: #546A7F;
}
